mixin video(video)
    div.video_preview
        div.video_preview__video
            a(href=`/videos/${video.id}`)
                div.video_preview__thumb
        div.video_preview__description
            include ../partials/avatar
            a(href=`/videos/${video.id}`)
                div.video_preview__description__content
                    h4 #{video.title}
                    div
                        small #{video.owner.name}
                    div
                        small #{video.meta.views} Views • #{video.createdAt.toDateString()}