extends ../base

block content 
    div.main__default.edit_profile
        if(errorMessage)
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            input(type="text", required, name="username", placeholder="Username", value=loggedInUser.username)
            input(type="text", required, name="name", placeholder="Name", value=loggedInUser.name)
            input(type="text", name="location", placeholder="location", value=loggedInUser.location)
            img(src=loggedInUser.avatarUrl, crossorigin, width="130px", height="180px")
            label(for="avatar") Select your profile image 
            input(type="file", id="avatar", name="avatar", accept=".jpeg, .png, .jpg")
            input(type="submit", value="Update Profile")

            if(!loggedInUser.socialLogin)
                a(href="change_password") Change Password